body {
  background-color: #fef7f2;
}

header {
  display: flex;
}

.logo {
  width: 93px;
  height: 29px;
  margin-top: 49px;
  margin-left: 104px;
}

.menu li {
  margin: 30px;
}

.menu a {
  text-decoration: none;
  color: #2b1b12;
  font-family: "Montserrat", sans-serif;
}

.menu ul {
  display: flex;
  list-style: none;
  margin-top: 53px;
  margin-right: 137px;
}

.menuIconUser {
  margin-top: 52px;
  margin-right: 44px;
}

.menuIconLoupe {
  margin-top: 52px;
  margin-right: 32px;
}

.signUpButton {
  font-family: "Montserrat", sans-serif;
  background-color: #2b1b12;
  width: 122px;
  height: 48px;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 40px;
  margin-right: 104px;
}
